@import url('https://fonts.googleapis.com/css2?family=Maven+Pro:wght@400;900&family=Poppins:wght@700;900&family=Russo+One&display=swap');

html{
    background-color: #000000;
}
body {
    background-color: #000000;
    color: rgb(255, 25, 0);
}
::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    background-color: #252525;
}

::-webkit-scrollbar-thumb {
    background-color: #888;
    border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #555;
}


body {
    scrollbar-width: thin;
    scrollbar-color: #888 #f1f1f1;
}


.content {
    height: 200vh;
    /* background-color: #000000; */
}

.btn {
    /* background-color: #007bff; */
    color: #000000;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 16px;
  }

  .btn :hover{
    /* background-color: #007bff; */
    color: #ff0000;
    
  }