@import url('https://fonts.googleapis.com/css2?family=Maven+Pro:wght@400;900&family=Poppins:wght@700;900&family=Russo+One&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Maven+Pro:wght@400;900&family=Oxygen:wght@700&family=Poppins:wght@700;900&family=Russo+One&display=swap');



body {
    color: white;
}

#bg {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}


nav{
  font-family: 'Oxygen', sans-serif;
  background: linear-gradient(to bottom, rgb(43, 43, 43), rgba(0, 0, 0, 0.1));
  backdrop-filter: blur(5px);
  color: white;
}

#profileDropdown{

  color: white;
}
.nav-link{
  font-family: 'Oxygen', sans-serif;
  color: white;
}
.nav-link:hover{
  font-family: 'Oxygen', sans-serif;
  color: #fffb00;
}

.navbar-brand{
  font-family: 'Oxygen', sans-serif;
  color: white;
}
.navbar-brand:hover{
  font-family: 'Oxygen', sans-serif;
  color: #fffb00;
}

.floating-navbar {
  /* position: fixed; */
  border-radius: 10px;
  bottom: 0;
  left: 0;
  width: 100%;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  z-index: 999;
  /* Gaya lain yang Anda inginkan untuk navbar */
}

.container-createplaylist {
  display: flex;
  align-items: center;
}

.container-createplaylist form {
  display: flex;
  align-items: center;
  width: 500px;
}

.container-createplaylist .mb-3 {
  flex-grow: 1;
  margin-right: 10px;
}


::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    background-color: #252525;
}

::-webkit-scrollbar-thumb {
    background-color: #888;
    border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #555;
}


body {
    scrollbar-width: thin;
    scrollbar-color: #888 #f1f1f1;
}

h1,h2 {
  color: #fffb00;
}


.card{
  background-color: rgba(0, 255, 255, 0);
  border-color: #ffffff;
  color: white;
}
.card-body{
 background-color: rgba(0, 255, 255, 0);
 display: flex;
 align-items: center;
}

.content {
    height: 200vh;
    /* background-color: #000000; */
}

.btn {
    /* background-color: #007bff; */
    color: #fffb00;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 16px;
  }

.btns {
    background-color: rgba(0, 0, 0, 0);
    color: #fffb00;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 16px;
  }

  .btn :hover{
    /* background-color: #007bff; */
    color: #ffffff;
    
  }

  .navbar-nav {
    flex-direction: row;
}

.navbar-nav .nav-link {
    padding: 0.5rem 1rem;
}

.player {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;
    height: 90px;
  }
   
  .details {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    padding: 30px;

  }

  /* Changing the font sizes to suitable ones */
  .now-playing {
    
  }
   
  .track-name {
   padding: 5px;
  }
   
  .track-artist {
    
  }
   
  /* Using flex with the row direction to
     align items in a horizontal direction */
  .buttons {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
   
  .play-track{
    padding: 15px;
    opacity: 0.8;
    /* Smoothly transition the opacity */
    transition: opacity .2s;
  }

  .pause-track{
    padding: 20px;
    opacity: 0.8;
    /* Smoothly transition the opacity */
    transition: opacity .2s;
  }
   
  /* Change the opacity when mouse is hovered */
  .playpause-track:hover,
  .prev-track:hover,
  .next-track:hover {
    opacity: 1.0;
  }
   
  /* Define the slider width so that it scales properly */
  .slider_container {
    /* width: 75%; */
    max-width: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
   
  /* Modify the appearance of the slider */
  .seek_slider, .volume_slider {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    height: 5px;
    background: black;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
  }
   
  /* Modify the appearance of the slider thumb */
  .seek_slider::-webkit-slider-thumb,
  .volume_slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 10px;
    height: 10px;
    background: white;
    cursor: pointer;
    border-radius: 50%;
  }
   
  /* Change the opacity when mouse is hovered */
  .seek_slider:hover,
  .volume_slider:hover {
    opacity: 1.0;
  }
   
  .seek_slider {
    width: 60%;
  }
   
  .volume_slider {
    width: 30%;
  }
   
  .current-time,
  .total-duration {
    padding: 15px;
  }
   
  i.fa-volume-down,
  i.fa-volume-up {
    
  }
   
  /* Change the mouse cursor to a pointer
     when hovered over */
  i.fa-play-circle,
  i.fa-pause-circle,
  i.fa-step-forward,
  i.fa-step-backward {
    cursor: pointer;
  }
/* -------------------------------------------------------------------------------------------------------------- */
.music-image {
  display: flex;
  justify-content: center;
  align-items: center;
  
}

.music-image .image-container {
  position: relative;
  display: inline-block;
  margin-right: 10px; 
}
.music-image .image-container img {
  filter: brightness(0.7);
  transition: filter 0.3s;
}
.music-image .image-container img :hover {
  filter: brightness(0.7);
}

.music-image .image-container:hover img {
  filter: brightness(0.7);
}

.music-image .image-container .play-button::before {
  filter: brightness(1.5);
  transition: filter 0.3s;
}

.music-image .image-container:hover .play-button::before {
  filter: brightness(0.7);
}

.music-image .image-container img {
  width: 254px;
  height: auto;
  object-fit: cover;
  border-radius: 8px;
}

.music-image .image-container .fa-play {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 200%;
  color: rgb(255, 255, 255);
  opacity: 0;
  transition: opacity 0.3s;
}

.music-image .image-container:hover .fa-play {
  opacity: 1;
  color: #ffffff;
}

.play-button {
  border: none;
  background-color: rgb(0, 0, 0, 0);
}


